<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
 
<log4j:configuration>
	<appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
       		<param name="ConversionPattern" value="%m %n" />
       	</layout>
	</appender>
	<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">        
		<param name="File" value="logging/Solvents.log" />
		<param name="MaxFileSize" value="50MB"/>
		<layout class="org.apache.log4j.PatternLayout">
			<!--<param name="ConversionPattern" value="%d  %-5p  [%c{1}] %m %n" />-->
			<param name="ConversionPattern" value="%m %n" />
		</layout>
	</appender>
 
    <root>
        <priority value="info" />
        <!-- <appender-ref ref="consoleAppender" /> -->
        <appender-ref ref="fileAppender" />
    </root>
</log4j:configuration>
